
html(lang="en")
  head
    title
    script(src="/static/riot.min.js")
    script(src="/static/route.min.js")
    script(src="/static/pixi.min.js")
    script(src="/static/pixi-filters.js")
    script(src="/static/js.cookie.js")

  body
    link(rel="shortcut icon" href="/static/favicon.ico")

    script(type="module" src="/static/tool/lib/req.js")
    script(type="module" src="/static/tool/lib/app.js")

    link(rel="stylesheet" href="/static/css/common.css")
    link(rel="stylesheet" href="/static/css/page.css")
    link(rel="stylesheet" href="/static/css/modal.css")

    script(src="/static/js/common/modal.js")
    script(src="/static/js/main/app.js")
    script(src="/static/js/main/navigation.js")
    script(src="/static/js/home.js")
    script(src="/static/js/page/page-list.js")
    script(src="/static/js/page/page-edit.js")
    script(src="/static/js/page/page-display.js")
    script(src="/static/js/page/editor-components/sprite-tools.js")

    app

    script.
      riot.mount('app');
      route.start(true);