modal
  text-align: center
  background: rgba(black, 0.5)
  position: fixed
  display: flex
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 10000
  font-size: 110%
  overflow: auto
  & > div
    width: 400px
    margin: auto
    text-align: left
    border-radius: 6px
    background: white
    box-shadow: 1px 1px 4px rgba(0,0,0,0.3)
    .title:first-child
      font-weight: bold
      margin: 0
      width: 100%
      color: #fff
      padding: 15px
      box-sizing: border-box
      background-color: #333
      border-top-left-radius: 6px
      border-top-right-radius: 6px
    .content
      width: 100%
      padding: 15px
      line-height: 1.4em
      box-sizing: border-box
      .buttons
        margin-top: 15px
        display: flex;
        align-items: center;
        justify-content: center;
        button, input[type=submit], input[type=button]
          display: inline
          margin: 0 5px 0 0