main[data-is=page-edit]
  sprite-tools
    .tools
      position: absolute
      top: 0
      width: 130px
      height: 100%
      &.right
        right: 0
      &.left
        left: 0
      .slide-panel
        height: 100%
        position: relative
        display: flex
        flex-direction: column
        margin-top: 10px
        .bottom
          margin-top: auto
          margin-bottom: 30px
        button.single
          width: 110px
          margin: 10px
        &.right
          &.hovering
            transition: 0.1s
            right: 0
          &:not(.hovering)
            transition: 0.1s
            right: -130px
        &.left
          .undo-redo
            display: flex
            align-items: center
            justify-content: center
            font-size: 28px
            color: white
            cursor: pointer
            .undo, .redo
              margin-left: auto
              margin-right: auto
          .sprite-card
            height: 100px
            img
              margin: 10px
              max-height: 100px
              max-width: 110px
          &.hovering
            transition: 0.1s
            left: 0
          &:not(.hovering)
            transition: 0.1s
            left: -200px

main[data-is=page-display]
  display: flex
  align-items: center
  justify-content: center

main[data-is=page-list]
  .page-link
    display: flex